<div class = 'row badge-card'>
  <div class = "col-3 badge-image">
    <%= image_tag(badge.image_url) %>
  </div>
  <div class = "col-9 text-center">
    <div class = "col-12 badge-title">  
      <%= badge.title %>
    </div>
    <div class = "col-12 badge-description">
      <%= badge.description %>
    </div>
  </div>
</div>