<footer align = "center">
<p> <%= current_year %>,
    Frol`tsov Oleg <%= github_url('Lerati00', 'test-guru')%><br>
    <%= t('.description')%> <%= link_to t('.link'), 'http://thinknetica.com/' %>
</p>
</footer>