<footer class = "text-center bg-light">
<div> <%= current_year %>,
    Frol`tsov Oleg <%= github_url('Lerati00', 'test-guru')%>
</div>
<div>
    <%= t('.description')%> <%= link_to t('.link'), 'http://thinknetica.com/' %>
</div>
</footer>