<footer align = "center">
<p> <%= current_year %>,
    Frol`tsov Oleg <%= github_url('Lerati00', 'test-guru')%><br>
    Краткое описание и ссылка с текстом <%= link_to "Учебный проект в онлайн-школе Thinknetica", 'http://thinknetica.com/' %>, ведущая на адрес thinknetica.com
</p>
</footer>