<tr>
  <td> <%= question.body %> </td>
  <td> <%= link_to t('admin.control_link.show'), admin_question_path(question),class: "btn btn-success" %> </td>
  <td> <%= link_to t('admin.control_link.edit'), edit_admin_question_path(question), class: "btn btn-warning" %> </td>
  <td>  <%= link_to t('admin.control_link.delete'),
                     admin_question_path(question),
                     method: :delete,
                     class: "btn btn-danger",
                     data: { confirm: t('.confirm') } %> 
  </td>
</tr>